@inherits LayoutComponentBase
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Hello @context.User.FindFirst(ClaimTypes.Name)?.Value</span>
                    <NavLink href="logout">Sign out</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="login">Sign in</NavLink>
                </NotAuthorized>
            </AuthorizeView>
            <NavLink href="cart">
                <span>Cart</span>
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
