@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        @*Category Pages*@
        <h4 class="px-3"> Categories </h4>
        @foreach (var category in Enum.GetValues<Database.Data.ListingCategory>()
            .Where(c => !string.Equals(c.ToString(), "none", StringComparison.OrdinalIgnoreCase)))
        {
            var categoryName = category.ToString().ToLowerInvariant();

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"category/{categoryName}")">
                    <span class="bi bi-tag-fill-nav-menu" aria-hidden="true"></span> @category
                </NavLink>
            </div>
        }
        <AuthorizeView Roles="Admin">
            <Authorized>
                <h4 class="px-3 mt-3">Admin</h4>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/listingdashboard">
                        <span class="bi bi-speedometer2" aria-hidden="true"></span> Listing Dashboard
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/userhistory">
                        <span class="bi bi-clock-history" aria-hidden="true"></span> User History
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

