@page "/cart"
@using Database
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@inject Database.Data data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject Database.Data DataService


<h1 class="major-heading">Cart</h1>
<div class="cart-content">
@if(Listings.Count == 0)
{
	<div>You have nothing in your cart</div>
}
else
{
	@foreach(var listing in Listings)
	{
		<div>
			@listing.ItemName, $@((listing.Price / 100m).ToString("0.00"))
		</div>
	}
		<button class="purchase-button" @onclick="Purchase">Purchase</button>
}
</div>




@code 
{
	private List<Database.Data.Listing> Listings = new List<Data.Listing>();
	private UInt64 userID;
	protected override async Task OnInitializedAsync()
    {
        AuthenticationState? authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        System.Security.Claims.ClaimsPrincipal? user = authState.User;

        if (user.Identity?.IsAuthenticated != true)
        {
            Navigation.NavigateTo($"/login?returnUrl={Uri.EscapeDataString("/cart")}", forceLoad: true);
            return;
        }

        var userIdClaim = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
		if (!ulong.TryParse(userIdClaim, out var userId))
		{
			Navigation.NavigateTo("/login", forceLoad: true);
			return;
		}

		userID = userId;

        Listings = data.GetCartListings(userId).ToList();
    }

	private void Purchase()
	{
		var productIds = Listings.Select(listing => listing.ID).ToArray();
		DataService.Buy(productIds, userID);
		Listings = data.GetCartListings(userID).ToList();

	}
}
