@page "/"
@using Web.Components.Shared
@inject Database.Data data

<PageTitle>Listings</PageTitle>

<h1>Listings</h1>

<ListingsComponent Listings="Listings" />

@code {
    private Database.Data.Listing[] Listings = Array.Empty<Database.Data.Listing>();

    protected override void OnInitialized()
    {
        Listings = data.GetListings();
    }
}
